h1 {
	color: #F0C300;	
	font-family: Pacifico;
	text-align: center;
	font-size: 40px;
}

h2 {
	color: black;
	font-family: Staatliches;
	text-align: center;
	font-size: 28px;
}

h3{
    font-family: Staatliches;
  text-align : center;
  font-size: 30px;
  text-align: center;
  color:black;
}

h4{
    font-family: Stint Ultra Condensed;
  text-align : center;
  font-size: 40px;
  width:1000px;
 padding:10px;
 margin:auto;
}

h5{
  font-family: Staatliches;
  font-size: 50px;
}

h6{
    font-family: Staatliches;
  text-align : center;
  border: 10px;
  border-radius: 20px;
  font-size: 40px;
  width:1000px;
 padding:10px;
 margin:auto;
 color : black;
}


p{
  font-size: 30px;
  font-family: Stint Ultra Condensed;
  text-align: center;
  width:1000px;
 padding:10px;
 margin:auto;
}

ul{
  font-size: 15px;
  font-family: Staatliches;
}

ol{
  font-size: 15px;
  font-family: Stint Ultra Condensed;
}


body {
	background: white;
  font-family: Staatliches;
  font-size:20px;
}

h3, h4, p, ul, ol{
	text-align: justify;
}

img{
	width:100%px;
	height:900px;
}


h7{
	font-size:32px;
	text-align:center;
	font-family: Pacifico;
}

div {
 background: white;
}

a{
	color: #F0C300;
}

.avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.production {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.line-transparent {
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-light {
  height: 50px;
  width: 20%;
  background: white;
}

.line-medium {
  height: 50px;
  width: 30%;
  background: white;
}

.line-hard {
  height: 50px;
  width: 50%;
  background: white;
}

.line-transparent {
  background: white;
  width: 100%;
  display: flex;
}

.line-transparent {
  background: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.line-transparent {
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: black;
}

.link:hover {
  color: black;
}

.logo{width:300px;
	height:39px;
	}

.btn-pink {
  display: inline-block;
  color: white;
  background: black;
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
  font-family: Staatliches;
}

.btn-pink:hover {
  color: white;
  opacity: 0.8;
}

@import "compass/css3";

/* Container used to centre on page */
.pagewrapper {
  width: 300px;
  margin: 20px auto;
}


/* Default carousel styles */
.carousel img {
  /* hide all images except the first one */
  display: none;
  &:first-child { display: block; }
}


/* Additional styles when JS is available */
.js .carousel {
  position: relative;
  
  img {
    display:none;
    &.active { display: block; }
  }
}

.js .nav-carousel {
  position: absolute;
  top: 0;
  left: 0;

  li {
    float: left;
      
    &:hover {
      cursor: pointer;
      border-bottom: 20px solid #666;
    }
  }
}

h7{
  font-family: Stint Ultra Condensed;
  font-size:50px;
  color: black;
  border: 1px black solid;
  border-radius : 5px;
  box-shadow: 6px 6px 0px black;
}

div#bloc1 {
  float: left;
  background: white;
  text-align: center;
  color : black;
 
}

div#bloc2 {
  float : left;
  background: white;
  margin-left : 10px;
  text-align: center;
  color : black;
}

div#bloc3 {
  float : left;
  background: white;
    margin-left : 10px;
  text-align: center;
  color : black;
}

div#bloc4{
  float : left;
  background: white;
    margin-left : 10px;
  text-align: center;
  color : black;
}

div#bloc5{
  float : left;
  background: white;
    margin-left : 10px;
  text-align: center;
  color : black;
}

ul{
  font-size : 15px;
}


 body{width:100%;}





